.buildControl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
    width: 20%;
}

.buildControl button {
    display: block;
    font:inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
}

button:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

button:not(:disabled) {
    animation: enable 0.3s linear;
}

.customButtons {
    display: flex;
    justify-content: space-between;
}

.label {
   width: 10%;
   display: flex;
}

.less {
    background-color: #CE8C48;
    color: white;
}

.more {
    color: white;
    background-color: #84531D;
}