.checkoutData {
    margin: 20px auto;
    width: 40%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

@media( mid-width: 600px ) {
    .checkoutData {
        width: 500px;
    }
}